body{
    margin:0;
    background-color: #ffe599;
}

header{
    height:200px;
}
#logo{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#socialmedia img{
    float: right;
    margin-right: 15px;
    width: 50px;
    padding: 10px 5px;
    margin-top: 40px;
    opacity: .7;
}
#navigation_menu ul{
    list-style-type: none;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
	padding: 0;
}

#navigation_menu ul li{
	float: left;
}

#navigation_menu ul li a{
    display: block;
    width: 200px;
    text-align: center;
    padding: .8em 0;
    text-decoration: none;
    font-weight: bold;
	background-color: #c5713d;
	color: #ffc827;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px
}

#navigation_menu  a.current, #navigation_menu a:hover {
	color: #efb12d;
}

#current{
    color: #efb12d;
}


 