iframe{
    margin: 3em 11em;
}

.search-container {
    float: right;
  }
  form{
    margin-top: -35em;
    margin-right: 8em;
}
  
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: .5em;
    margin-right: 8em;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
.search-container button:hover {
    background: #ccc;
  }
main h2, main p{
      float: right;
      font-family: 'Franklin Gothic Medium';
      margin-top: -25em;
      margin-left: 50%;
      margin-right: 11em;
      color: #b55200
  }