main img{
    padding: .5em;
    margin-left: 8em;
    margin-right: 8em;
}
h2 {
font-family: 'Franklin Gothic Medium';
font-size: 25px;
color: #b55200;
text-align: center;
font-size: 75px;
}

p{font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    color: black;
    text-align: center;
    font-size: 25px;
    margin-left: 10em;
margin-right: 10em;
}
